.Counter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #645e5e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  width: fit-content;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

h1{
  font-size: 3rem;
  margin: 0;
}

p{
  font-size: 1.5rem;
  margin: 0;
}

button{
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}